@font-face {
	font-family: ‘theBoldFont’;
	src: url(‘http://www.dafont.com/the-bold-font.font);
}

html, body {
  margin-left: 0;
  margin-right: 0;
	margin-bottom: 0;
}

.main ul li { /*navigation*/
  color: black;
  font-family: theBoldFont;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: left;
  padding-right: 60px;
  margin-bottom: 50px;
  margin-top: -14px;
}

li a { /*navigation link*/
  color: black;
  text-decoration: none;
}

ul li a:hover {
	color: #fe75d8;
}

ul li a:active {
  color: #69e2ed;
}

.blog {
  background: url("images/detroitdance.jpg");
  background-size: 100%;
  /*height: 50%;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.3%;
}

/*.blog img {
  width: 100%;
  opacity: 0.3;
}*/

.blog h1 {
  font-family: theBoldFont;
  font-size: 80px;
  letter-spacing: 10px;
  color: black;
  margin-left: 120px;
  padding-top: 100px;
}

.blog h1 span {
  font-size: 60px;
  font-family: theBoldFont;
  color: black;
  letter-spacing: 0;
}

.blog h2 {
  font-size: 20px;
  font-family: theBoldFont;
  padding-top: 100px;
  margin-left: 220px;
}

.blog p {
  font-family: Helvetica;
  font-size: 13px;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  /*float: right;
  clear: left;*/
}

.blog img {
  width: 454px;
  height: 303px;
  margin-top: -135px;
  margin-left: 100px;
}

.blog button {
  color: white;
  font-size: 15px;
  font-family: Helvetica;
  background-color: black;
  text-decoration: none;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  clear: left;
  margin-right: 350px;
}

.blog button a:hover {
  text-decoration: none;
  color: #fe75d8;

}

.blog button a:active {
  color: #69e2ed;
}








.footer {
	background-color: black;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.footer ul {
	text-decoration: none;
	list-style-type: none;
	font-family: sans-serif;
	font-size: 14px;
}

.footer ul a:active{
	color: #69e2ed;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer p {
	font-family: sans-serif;
	font-size: 14px;
	padding-left: 40px;
	margin-bottom: -15px;
}

.footer img {
	width: 20px;
	height: 20px;
}

.footer p a:active {
	color: #69e2ed;
}

.footer a:hover {
	color: #fe75d8;
}

.footer img:hover {
	color: #fe75d8;
}

.footer img:active {
	color: #69e2ed;
}
.footer .links {
	text-align: center;
	padding-bottom: 20px;
}

.footer h3 {
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin-top: -40px;
}
