@font-face {
	font-family: ‘theBoldFont’;
	src: url(‘http://www.dafont.com/the-bold-font.font);
}

@font-face {
	font-family: 'adam';
	src: url('http://www.dafont.com/adam.font');
}

html, body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.main ul {
	position: absolute;
	padding-top: 15px;
  padding-right: 60px;
	margin-left: 680px;
}

.main ul li { /*navigation*/
  color: black;
  font-family: theBoldFont;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  float: right;
  clear: left;
  padding-top: 80px;
  padding-right: 60px;
  margin-bottom: 50px;
  margin-top: -80px;
  position: relative;
}

li a { /*navigation link*/
  color: black;
  text-decoration: none;
}

ul li a:hover {
	color: #fe75d8;
}

ul li a:active {
  color: #69e2ed;
}

.toggle {
	padding-right: 60px;
	position: absolute;
	margin-left: 850px;
	margin-top: 100px;
	height: 100px;
	width: 250px;
}

.grid {
  width: 100%;
  margin-bottom: 100px;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.col-1-3 {
  width: 50%;
  float: left;
  padding-left: 130px;
  position: relative;
	margin-top: -100px;
}

.col-2-3 {
  width: 50%;
  display: inline-block;
  padding-left: 70px;
  position: relative;
	float: right;
	clear: left;
	margin-right: -100px;
}

/*.col-3-3 {
  width: 33%;
  float: right;
  position: relative;
}*/

.grid h1 {
  font-size: 20px;
  font-family: theBoldFont;
}

/*.grid #one p { /* questions?
  font-family: adam;
  font-size: 15px;
  color: black;
}*/

.grid #two p { /*our location*/
  font-family: Helvetica;
  font-size: 16px;
  color: black;
}

/*.grid #three { maps
  float: right;
}*/

.grid #map {
	width: 350px;
	height: 350px;
	margin-left: 600px;
	margin-top: -200px;
}

.form {
	color: grey;
	font-size: 12px;
	/*margin-top: 20px;*/
	line-height: 30px;
}

input[type=text] {
  color: grey;
  border: 1px solid black;
  height: 25px;
  width: 350px;
  font-size: 14px;
}

input[type=textArea]{
  height: 100px;
  width: 150px;
  color: grey;
  border: 1px solid black;
  font-size: 14px;
	text-align: center;
	width: 350px;
  margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0;
  position: relative;
}

input[type=button], input[type=submit] {
	/*width: 153.5px;*/ma
	border-radius: 0px;
  position: relative;
	width: 355px;
	margin-left: 0;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	color: #fe75d8;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	color: #69e2ed;
}

.formButton {
  font-size: 14px;
  color: white;
  background-color: black;
  height: 30px;
  width: 5px;
  border: none;
  margin-left: 163px;
  position: relative;
}


.contactPage h1 {
  color: black;
  font-family: theBoldFont;
  font-size: 60px;
  padding-top: 90px;
  letter-spacing: 10px;
  margin-left: 120px;
}

.contactPage h1 span {
  margin-left: 189px;
  font-size: 80px;
}

.contactPage img {
  position: relative;
  padding-left: 230px;
  text-align: center;
  width: 60%;
  height: 330px;
  margin-bottom: 50px;
}

.faq {
padding-left: 130px;
padding-bottom: 80px;
/*padding-top: 50px;*/
}

.faq h1 {
	color: black;
	font-family: theBoldFont;
	font-size: 45px;

}

.faq h2 {
	color: black;
	font-family: theBoldFont;
	font-size: 20px;
}

.faq p{
	color: black;
	font-family: Helvetica;
	font-size: 13px;

}

.faq a {
	color: black;
	text-decoration: none;
}

.faq a:hover {
	color: #fe75d8;
}

.faq a:active {
	color: #69e2ed;
}

.footer {
	background-color: black;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.footer ul {
	text-decoration: none;
	list-style-type: none;
	font-family: sans-serif;
	font-size: 14px;
}

.footer ul a:active{
	color: #69e2ed;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer p {
	font-family: sans-serif;
	font-size: 14px;
	padding-left: 40px;
	margin-bottom: -15px;
}

.footer img {
	width: 20px;
	height: 20px;
}

.footer p a:active {
	color: #69e2ed;
}

.footer a:hover {
	color: #fe75d8;
}

.footer img:hover {
	color: #fe75d8;
}

.footer img:active {
	color: #69e2ed;
}
.footer .links {
	text-align: center;
	padding-bottom: 20px;
}

.footer h3 {
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin-top: -40px;
}
